/* JSON-LD CSS */

@font-face {
font-family: "sketch-rockwell";
src: url("SketchRockwell-Bold.ttf");
}

@font-face {
font-family: "calluna";
src: url("Calluna-Regular.ttf");
}


* {
margin: 0;
padding: 0;
}

html {
}

body {
color: #333;
background-color: #a7cb87;
font-family: "calluna", Georgia, serif;
font-size: 1.25em;
}

a {
color: #926394;
text-decoration: none;
outline-style: none;
font-weight: bold;
}

a:hover, a:active {
text-decoration: underline;
}

h1 {
font-size: 2.0em;
font-family: "sketch-rockwell", Helvetica, Arial, serif;
}

p {
margin: 10px 0;
/*font-family: "Georgia", Times, serif;*/
}

.tagline {
   font-style: italic;
   font-family: Georgia, serif;
   font-size: 2em;
}

.breadcrumbs {
   margin: 12px 12px;
}

.lighter {
background: #c7e5ab;
margin: 0 auto;
}

ul {
margin: 0 2em;
}

dl {
padding: 0.5em;
}

dt {
clear: left;
text-align: left;
font-weight: bold;
}

dd {
margin: 0 0 0 50px;
padding: 0 0 0.5em 0;
}

form {
    margin-top: 10px;
    clear:left;
}

legend, span.form-examples, #results-turtle { font-size: 0.8em;}

form span.form-examples {
    font-size: 0.8em;
}

.hidden {
display: none;
}

.banner {
float: left;
}

#header {
position: relative;
height: 80px;
color: #fff;
background-color: #55842c;
}

#header>div {
}

#header h1 {
position: relative;
float: left;
margin-top: 15px;
margin-left: 25px;
font-size: 48px;
white-space:nowrap;
}

#header a {
color: #fff;
}

#header > nav { float:right; }

nav ul {
    font:           bolder 1em 'Trebuchet MS', sans-serif;
    color:          white;
    list-style:     none;
    margin:         0;
    padding:        0;
    padding-bottom: 1em;
}
nav li {
    display: inline;
}
nav li a, nav li a:link, nav li a:visited {
    float:              left;
    display:            block;
    padding:            3px 12px;
    color:              white;
    text-decoration:    none;
    border-bottom: solid 2px #55842c;
}

nav li a.selected, nav li a:hover {
    color:      #55842c;
}

nav li a.selected {
    border: solid 2px #55842c;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#header nav li a:hover, #header nav li a.selected {
    color:      #c7e5ab;
}

nav.linter div.tabs
{
    clear:          left;
    border:         4px solid #65944A;
    padding:        1em 3em;
    color:          black;
    background:     #98b786;
}
form#linter_input fieldset {
  border: none;
}
form#linter_input fieldset legend {
  display: none;
}

.content {
max-width: 960px;
margin: 0 auto;
padding: 10px 10px;
}

#footer {
background-color: #55842c;
color: #333;
}

#footer a {
color: #ddd;
}

#footer p {
font-size: 0.8em;
}

