<div class="lighter">
<section class="content">
  <p>
    The Structured Data Linter is a tool aiding webmasters and web developers to verify the structured data present in their HTML pages. Search engines use structured data to understand webpages more accurately and to present enhanced search results. The Linter understands the <a href="http://www.w3.org/TR/microdata-rdf/">microdata</a>, <a href="http://www.w3.org/TR/2013/CR-json-ld-20130910/">JSON-LD</a> and <a href="http://www.w3.org/TR/2013/REC-html-rdfa-20130822/">RDFa</a> formats according to their latest specifications. Note however that it does not guarranty that all consumers (e.g. search engines) will make use of all the structured data available in your page. The linter does not currently support <a href="http://microformats.org/">microformats</a> (contributions welcome).
  </p>
  <p>
    The Structured Data Linter was initiated by <a href="http://openspring.net/">Stéphane Corlosquet</a> and <a href="http://greggkellogg.net/">Gregg Kellogg</a>, as part of the larger <a href="http://structured-data.org">Structured Data initiative</a>. Community input is welcome to improve this tool, suggest new features, etc. Anyone can contribute by filing <a href="https://github.com/structured-data/linter/issues">issues</a> on Github or forking the <a href="https://github.com/structured-data/linter">linter git repository</a>.
  </p>
  <p>
    Find out more about using rich formats at <a target="_blank" href="http://structured-data.org/">structured-data.org</a>.
</section>
</div>
