<section>
  <section class="lighter">
    <p class="content">
      Markup examples that can be used to generate rich snippets come from a variety of different sources.
      Find an example from below that matches your use case to see how it renders as a snippet. Try the
      same example with the Google <a target="_blank" href="http://www.google.com/webmasters/tools/richsnippets">Rich Snippets Testing Tool</a>.
    </p>
  </section>

  <section class="content">
    <h2>Schema.org examples</h2>
    <p>
      The following examples are taken from Schema.org
      <a target="_blank" href="http://www.schema.org/docs/full.html">documentation examples</a>.
    </p>
    <%= erb :_schema_examples, locals: {root: root}, layout: false %>
    <div><a id='no_snip'>*</a>Indicates snippets not optimized for this type</a></div>
  </section>

</section>
