<section class="snippet-definition content">
  <h2>Snippet definition for <%= name %></h2>
  <pre class="example"><code class="ruby"><%= CGI.escapeHTML(File.read(File.join(settings.snippets, name)).force_encoding(Encoding::UTF_8)) %></code></pre>
</section>
